@import "bourbon/bourbon"
@import "settings.sass"
header
  width: 100%
  margin: 0
  padding: 10px 0
  .logo
    width: 200px
    img
      text-align: center
nav
  padding: 0
  border-bottom: 1px solid #ccc
  li
    display: block
    float: left
    margin: 0
    padding: 10px
    a
      text-decoration: none
      color: $font_menu
      font-weight: bold
      &:hover
        text-decoration: none
        color: $active_link
